{% extends 'home.html' %}
{% load static %}

{% block mainblock %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/invoice_list.css' %}/">

  <h1 class="invoice-list-title">Invoice List</h1>
  <ul class="invoice-list">
    {% for invoice in invoices %}
      <li class="invoice-item">
        <a href="{% url 'invoice_detail' invoice.id %}" class="invoice-link">Invoice {{ invoice.id }}</a>
        <br>
        <strong class="invoice-date-label">Invoice Date:</strong> {{ invoice.created_at }}
      </li>
    {% empty %}
      <li class="no-invoices">No invoices available.</li>
    {% endfor %}
  </ul>
{% endblock mainblock %}