{% extends "home.html" %}
{% include navbar.html %}
{% load static %}

{% block mainblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>Password Reset Request Sent</h2>
                <p>An email has been sent to your registered email address with instructions on how to reset your password.</p>
                <p>Please check your email and follow the provided link to reset your password.</p>
                <p>If you do not receive an email within a few minutes, please check your spam folder.</p>
            </div>
        </div>
    </div>

{% endblock %}