{% comment %} JOIN US SECTION!!! {% endcomment %}

{% load static%}
     <link rel="stylesheet" type="text/css" href="{% static 'css/social.css' %}">

<section class="join-us-section">
    <h1>Join Us on Social</h1>
    <div class="social-icons">
        <a href="https://www.instagram.com/labelm_romania/" target="_blank">
            <img src="/static/media/images/instagram.png" alt="Instagram"/>
        </a>
        <a href="https://www.facebook.com/Label.mRO" target="_blank">
            <img src="/static/media/images/facebook.png" alt="Facebook"/>
        </a>
        <a href="https://chicsalon.ro/contact/" target="_blank">
            <img src="/static/media/images/contact.png" alt="Contact"/>
        </a>
    </div>
</section>
