form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ffd700; /* Gold color */
    border-radius: 8px;
  }
  
  form div {
    margin-bottom: 10px;
    margin-right: 15px;
  }

  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px; /* Adjust the spacing between form input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ffd700; /* Gold color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; /* Add some spacing between the form fields and the button */
  }
  
  form button[type="submit"] {
    justify-content: center;
  }
  
  form ul {
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
  }
  
  form.invalid {
    border-color: red;
  }
  
  form.invalid button[type="submit"] {
    background-color: red;
  }
  
  h2 {
    text-align: center;
  }
  
  form p {
  margin-top: 10px;
  font-size: 16px; 
  color: #ff0000; 
}

